*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: 'Noto Serif', serif;
  color: #00AEEF;
}

body > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

body > div > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media all and (orientation: landscape), all and (min-width: 480px) {
  body > div > div {
    flex-direction: row;
  }
}

@media all and (orientation: portrait), all and (max-width: 480px) {
  body > div > div {
    flex-direction: column-reverse;
  }
}

body > div > div div {
  flex-grow: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

body > div > div div > div {
  border-collapse: collapse;
  border: 1px solid #00AEEF;
}

body > div > div:first-child {
  flex-grow: 3;
}

body > div > div:last-child {
  flex-grow: 1;
}

header {
  text-align: center;
  padding: 10px;
  width: 100%;
  color: white;
  background: #00AEEF;
}

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  color: white;
  background: #00AEEF;
}

textarea {
  resize: none;
  overflow: hidden;
  flex: 1;
  font-family: 'PT Sans', sans-serif;
  color: black;
  border: none;
}
